{% extends "inicio/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
  <div class="overlap-groupRegister">
  <div class="contenedorFormulario">
    <h1 style="color: aliceblue; margin-left:70px; margin-right:auto;">¿Estás seguro de que deseas eliminar al usuario "{{ usuarios.username }}"?</h1>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success" style="margin-top: 20px; background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white; margin-left:253px;">Eliminar</button><button type="submit" class="btn btn-success" style="margin-top: 10px; background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white; margin-left:253px;"><a href="{% url 'user_admin' %}" style="color: aliceblue;">Cancelar</a></button>
  </form>
  <br>
  </div>
  </div>
{% endblock %}  