{% extends "inicio/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<p class="p2">Iniciar Sesión</p>
  <div class="overlap-group2">
  <div class="contenedorFormularioInicioSesion">
    <form method="post" action="" style="color: rgb(9, 10, 11); text-align: center; margin-top: 30px;">
        {% csrf_token %}
        <div style="margin-bottom: 100px;margin-top: 50px;color: white; font-size: 30px;">
        {%if mensaje %}
        <span style="color: red;"> {{mensaje}}</span>
        {%endif%}</br></br>
        {{ formulario|crispy}}
            <style>
                input[type="text"], input[type="password"], textarea {
                    font-size: 20px; 
                    
                }
            </style>

            <button type="submit" class="btn btn-success" style="margin-top: 20px; background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white;">Registro</button>
        </div>
    
        
    </form>
  </div>
  </div>
{% endblock %}  