{% extends "inicio/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<p class="perfil">Gestión de Usuarios</p>
  <div class="overlap-groupRegister">
  <div class="contenedorFormulario">
    <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Electrónico</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
            <tr>
              <td>{{ usuario.user.username }}</td>
              <td>{{ usuario.user.first_name }}</td>
              <td>{{ usuario.user.last_name }}</td>
              <td>{{ usuario.user.email }}</td>
              <td>{{ usuario.direccion }}</td>
              <td>{{ usuario.codigo_postal }}</td>
              <td>{{ usuario.user.is_staff }}</td>
              <td>{{ usuario.user.date_joined }}</td>
              <td>{{ usuario.user.actualizado }}</td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                <button type="submit" class="btn btn-success" style="margin-top: 20px; background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white;"><a href="{% url 'pass' %}" style="color: aliceblue;">Eliminar Usuario</a></button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
  </div>
  </div>
{% endblock %}  