<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta charset="utf-8" />
<link href="{% static 'Playful/css/gestion.css'%}" rel="stylesheet">
<link href="{% static 'Playful/css/styleguide.css'%}" rel="stylesheet">
</head>
<body>
  <div class="pgina-de-inicio">
  <div class="div">
    {% if user.is_staff %}
    <div class="cart-button3"><div class="prueba"><a href="{% url 'user_admin' %}" style="color: aliceblue;">Gestión Usuarios</a></div></div>
    <div class="div-wrapper"><div class="text-wrapper"><a href="{% url 'logout' %}" style="color: aliceblue;">Cerrar Sesión</a></div></div>
  {% elif user.is_authenticated %}
    <div class="cart-button"><div class="text-wrapper"><a href="{% url 'perfil' %}" style="color: aliceblue;">Perfil Usuario</a></div></div>
    <div class="div-wrapper"><div class="text-wrapper"><a href="{% url 'logout' %}" style="color: aliceblue;">Cerrar Sesión</a></div></div>
  {% else %}
    <div class="cart-button"><div class="text-wrapper"><a href="{% url 'login' %}" style="color: aliceblue;">Iniciar Sesión</a></div></div>
    <div class="div-wrapper"><div class="text-wrapper-2"><a href="{% url 'register' %}" style="color: aliceblue;">Registro</a></div></div>
  {% endif %}
  <a href = "{% url 'Home' %}"><img class="logo" src="{% static 'Playful/img/Logo.jpg' %}"/></a>
  {% block content %}
  {% endblock%}
  <div class="frame-3">
  <div class="text-wrapper-3"><a href="{% url 'Partidos_Predichos' %}" style="color: aliceblue;">Predicciones</a></div>
  <div class="text-wrapper-4">Comparar Equipos</div>
  <div class="text-wrapper-5">Porra Deportiva</div>
  </div>
  <div class="cart-button-2"><div class="text-wrapper-6">Ranking</div></div>
  </div>
  </div>
  </body>