{% extends "inicio/base.html" %}

{% load static %}

{% block content %}
<p class="p">¿Que es FutPlayful Predictions ?</p>
  <div class="overlap-group">
  <div class="frame">
  <p class="futplayful">
  FutPlayful Predictions es un web de prediciones deportivas, que haciendo uso de técnicas de aprendizaje
  automático conseguimos devolver predicciones de partidos indicando cual es el resultado del partido
  mediante <br />1 -&gt; Local<br />X-&gt; Empate<br />2 -&gt; Visistante
  </p>
  </div>
  <img class="image" src="{% static 'Playful/img/rba.jpg' %}" />
  </div>
{% endblock %}  
