{% extends "inicio/base.html" %}

{% load static %}

{% block content %}
<p class="p">¿Que es FutPlayful Predictions ?</p>
  <div class="overlap-group">
  <div class="frame">
  <p class="futplayful">
  FutPlayful Predictions es un web de prediciones deportivas, que haciendo uso de técnicas de aprendizaje
  automático conseguimos devolver predicciones de partidos indicando cual es el resultado del partido
  mediante <br />1 -&gt; Local<br />X-&gt; Empate<br />2 -&gt; Visistante
  </p>
  </div>
  <img class="image" src="{% static 'Playful/img/rba.jpg' %}" />
  </div>
<div class="bo">
    <p class="futplayful-2">
    FutPlayful Predictions no es una web para fomentar el uso de apuestas, sino más bien consienciar acerca uso
    de los juegos de azar y ejemplificando que el fútbol como deporte no es una ciencia exacta, en la que todo
    es posible. <br />
    <br />Si al utilizar nuestos datos decide aplicarlos en alguna apuesta o juego de azar recuerde jugar simpre
    con responsabilidad&nbsp;&nbsp;<br />y solo si eres mayor de edad
    </p>
    <img class="element" src="{% static 'Playful/img/18.png' %}" />
</div>
{% endblock %}  
