{% extends "inicio/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<p class="quicre">Quinielas Creadas</p>
<div class="contenedorListaQuinielasCreadas">
    <table class ="table">
        <thead>
          <tr>
            <th class="th">Estado de la Quiniela</th>
            <th class="th">Partido 1</th>
            <th class="th">Partido 2</th>
            <th class="th">Partido 3</th>
            <th class="th">Partido 4</th>
            <th class="th">Partido 5</th>
            <th class="th">Partido 6</th>
            <th class="th">Partido 7</th>
            <th class="th">Partido 8</th>
            <th class="th">Partido 9</th>
            <th class="th">Partido 10</th>
            <th class="th">Usuarios Participes</th>
          </tr>
        </thead>
        <tbody>
          {% for quiniela in entity %}
            <tr>
              {% if quiniela.abierta == True %}
              <td class="td">Abierta</td>
              {%else%}
              <td class="td">Cerrada</td>
              {%endif%}
              <td class="tddd"><img src="{{quiniela.primer_partido.logo_liga.url}}" width="50"><img src="{{quiniela.primer_partido.escudo_local.url}}" width="50">{{ quiniela.primer_partido.equipo_local }} vs <img src="{{quiniela.primer_partido.escudo_visitante.url}}" width="50">{{ quiniela.segundo_partido.equipo_visitante }}<br>Jornada:{{ quiniela.primer_partido.jornada }}</td>
              <td class="tddd"><img src="{{quiniela.segundo_partido.logo_liga.url}}" width="50"><img src="{{quiniela.segundo_partido.escudo_local.url}}" width="50">{{ quiniela.segundo_partido.equipo_local }} vs <img src="{{quiniela.segundo_partido.escudo_visitante.url}}" width="50">{{ quiniela.segundo_partido.equipo_visitante }}<br>Jornada:{{ quiniela.segundo_partido.jornada }}</td>
              <td class="tddd"><img src="{{quiniela.tercer_partido.logo_liga.url}}" width="50"><img src="{{quiniela.tercer_partido.escudo_local.url}}" width="50">{{ quiniela.tercer_partido.equipo_local }} vs <img src="{{quiniela.tercer_partido.escudo_visitante.url}}" width="50">{{ quiniela.tercer_partido.equipo_visitante }}<br>Jornada:{{ quiniela.tercer_partido.jornada }}</td>
              <td class="tddd"><img src="{{quiniela.cuarto_partido.logo_liga.url}}" width="50"><img src="{{quiniela.cuarto_partido.escudo_local.url}}" width="50">{{ quiniela.cuarto_partido.equipo_local }} vs <img src="{{quiniela.cuarto_partido.escudo_visitante.url}}" width="50">{{ quiniela.cuarto_partido.equipo_visitante }}<br>Jornada:{{ quiniela.cuarto_partido.jornada }}</td>
              <td class="tddd"><img src="{{quiniela.quinto_partido.logo_liga.url}}" width="50"><img src="{{quiniela.quinto_partido.escudo_local.url}}" width="50">{{ quiniela.quinto_partido.equipo_local }} vs <img src="{{quiniela.quinto_partido.escudo_visitante.url}}" width="50">{{ quiniela.quinto_partido.equipo_visitante }}<br>Jornada:{{ quiniela.quinto_partido.jornada }} </td>
              <td class="tdd"><img src="{{quiniela.sexto_partido.logo_liga.url}}" width="50"><img src="{{quiniela.sexto_partido.escudo_local.url}}" width="50">{{ quiniela.sexto_partido.equipo_local }} vs <img src="{{quiniela.sexto_partido.escudo_visitante.url}}" width="50">{{ quiniela.sexto_partido.equipo_visitante }}<br>Jornada:{{ quiniela.sexto_partido.jornada }}</td>
              <td class="tdd"><img src="{{quiniela.septimo_partido.logo_liga.url}}" width="50"><img src="{{quiniela.septimo_partido.escudo_local.url}}" width="50">{{ quiniela.septimo_partido.equipo_local }} vs <img src="{{quiniela.septimo_partido.escudo_visitante.url}}" width="50">{{ quiniela.septimo_partido.equipo_visitante }}<br>Jornada:{{ quiniela.septimo_partido.jornada }}</td>
              <td class="tdd"><img src="{{quiniela.octavo_partido.logo_liga.url}}" width="50"><img src="{{quiniela.octavo_partido.escudo_local.url}}" width="50">{{ quiniela.octavo_partido.equipo_local }} vs <img src="{{quiniela.octavo_partido.escudo_visitante.url}}" width="50">{{ quiniela.octavo_partido.equipo_visitante }}<br>Jornada:{{ quiniela.octavo_partido.jornada }}</td>
              <td class="tdd"><img src="{{quiniela.noveno_partido.logo_liga.url}}" width="50"><img src="{{quiniela.noveno_partido.escudo_local.url}}" width="50">{{ quiniela.noveno_partido.equipo_local }} vs <img src="{{quiniela.noveno_partido.escudo_visitante.url}}" width="50">{{ quiniela.noveno_partido.equipo_visitante }}<br>Jornada:{{ quiniela.noveno_partido.jornada }}</td>
              <td class="tdd"><img src="{{quiniela.decimo_partido.logo_liga.url}}" width="50"><img src="{{quiniela.decimo_partido.escudo_local.url}}" width="50">{{ quiniela.decimo_partido.equipo_local }} vs <img src="{{quiniela.decimo_partido.escudo_visitante.url}}" width="50">{{ quiniela.decimo_partido.equipo_visitante }}<br>Jornada:{{ quiniela.decimo_partido.jornada }}</td>
              <td class="tdd">
                {% if user.is_authenticated and user.is_staff %}
                <button type="submit" class="btn2 btn-success" style="margin-top: 20px; background-color: rgba(26, 53, 199, 1); border-radius: 10px; color: white;"><a href="{% url 'Mostrar_Usuarios_Participes' quiniela.id %}" style="color: aliceblue;">Mostrar Usuarios</a></button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
     
{% include 'predicciones/paginator.html' %}
      
</div>
<div class="boQui">
  <p class="futplayful-2">
  FutPlayful Predictions no es una web para fomentar el uso de apuestas, sino más bien consienciar acerca uso
  de los juegos de azar y ejemplificando que el fútbol como deporte no es una ciencia exacta, en la que todo
  es posible. <br />
  <br />Si al utilizar nuestos datos decide aplicarlos en alguna apuesta o juego de azar recuerde jugar simpre
  con responsabilidad&nbsp;&nbsp;<br />y solo si eres mayor de edad
  </p>
  <img class="element" src="{% static 'Playful/img/18.png' %}" />
</div>
{% endblock %}  