{% extends "inicio/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<p class="pred">Quiniela Activa</p>
<div class="contenedorListaQuiniela">
    <table class ="table">
        <thead>
          <tr>
            <th class="th">Liga</th>
            <th class="th">Jornada</th>
            <th class="th">Equipo Local</th>
            <th class="th">Equipo Visitante</th>
            <th class="th">Goles Ultimos 3 Y 5 Local</th>
            <th class="th">Goles Ultimos 3 Y 5 Visitante</th>
            <th class="th">Puntos Ultimos 3 Y 5 Local</th>
            <th class="th">Puntos Ultimos 3 Y 5 Visitante</th>
            <th class="th">Goles En Contra Ultimos 3 Y 5 Local</th>
            <th class="th">Goles En Contra Ultimos 3 Y 5 Visitante</th>
            <th class="th">Goles Ultimos 3 Y 5 Local Siendo Local</th>
            <th class="th">Goles Ultimos 3 Y 5 Visitante Siendo Visitante</th>
            <th class="th">Puntos Ultimos 3 Y 5 Local Siendo Local</th>
            <th class="th">Puntos Ultimos 3 Y 5 Visitante Siendo Visitante</th>
            <th class="th">Goles En Contra Ultimos 3 Y 5 Local Siendo Local</th>
            <th class="th">Goles En Contra Ultimos 3 Y 5 Visitante Siendo Local</th>
            <th class="th">Ganador</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="td"><img src="{{quiniela.primer_partido.logo_liga.url}}" width="50"></td>
              <td class="td">{{ quiniela.primer_partido.jornada }}</td>
              <td class="td"><img src="{{quiniela.primer_partido.escudo_local.url}}" width="50">{{ quiniela.primer_partido.equipo_local }}</td>
              <td class="td"><img src="{{quiniela.primer_partido.escudo_visitante.url}}" width="50">{{ quiniela.primer_partido.equipo_visitante }}</td>
              <td class="td">{{ quiniela.primer_partido.goles_ultimos_3_partidos_equipo_local }} | {{ quiniela.primer_partido.goles_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.primer_partido.goles_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.primer_partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.primer_partido.puntos_ultimos_3_partidos_equipo_local }} | {{ quiniela.primer_partido.puntos_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.primer_partido.puntos_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.primer_partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.primer_partido.goles_en_contra_ultimos_3_partidos_equipo_local }} | {{ quiniela.primer_partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.primer_partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.primer_partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.primer_partido.goles_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.primer_partido.goles_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.primer_partido.goles_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.primer_partido.goles_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.primer_partido.puntos_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.primer_partido.puntos_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.primer_partido.puntos_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.primer_partido.puntos_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.primer_partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }} | {{ quiniela.primer_partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
              <td class="td">{{ quiniela.primer_partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}|{{ quiniela.primer_partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
              <td class="td">{{quiniela.primer_partido.winner}}</td>
            </tr>
            <tr>
              <td class="td"><img src="{{quiniela.segundo_partido.logo_liga.url}}" width="50"></td>
              <td class="td">{{ quiniela.segundo_partido.jornada }}</td>
              <td class="td"><img src="{{quiniela.segundo_partido.escudo_local.url}}" width="50">{{ quiniela.segundo_partido.equipo_local }}</td>
              <td class="td"><img src="{{quiniela.segundo_partido.escudo_visitante.url}}" width="50">{{ quiniela.segundo_partido.equipo_visitante }}</td>
              <td class="td">{{ quiniela.segundo_partido.goles_ultimos_3_partidos_equipo_local }} | {{ quiniela.segundo_partido.goles_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.segundo_partido.goles_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.segundo_partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.segundo_partido.puntos_ultimos_3_partidos_equipo_local }} | {{ quiniela.segundo_partido.puntos_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.segundo_partido.puntos_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.segundo_partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.segundo_partido.goles_en_contra_ultimos_3_partidos_equipo_local }} | {{ quiniela.segundo_partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.segundo_partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.segundo_partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.segundo_partido.goles_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.segundo_partido.goles_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.segundo_partido.goles_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.segundo_partido.goles_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.segundo_partido.puntos_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.segundo_partido.puntos_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.segundo_partido.puntos_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.segundo_partido.puntos_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.segundo_partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }} | {{ quiniela.segundo_partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
              <td class="td">{{ quiniela.segundo_partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}|{{ quiniela.segundo_partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
              <td class="td">{{quiniela.segundo_partido.winner}}</td>
            </tr>
            <tr>
              <td class="td"><img src="{{quiniela.tercer_partido.logo_liga.url}}" width="50"></td>
              <td class="td">{{ quiniela.tercer_partido.jornada }}</td>
              <td class="td"><img src="{{quiniela.tercer_partido.escudo_local.url}}" width="50">{{ quiniela.tercer_partido.equipo_local }}</td>
              <td class="td"><img src="{{quiniela.tercer_partido.escudo_visitante.url}}" width="50">{{ quiniela.tercer_partido.equipo_visitante }}</td>
              <td class="td">{{ quiniela.tercer_partido.goles_ultimos_3_partidos_equipo_local }} | {{ quiniela.tercer_partido.goles_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.tercer_partido.goles_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.tercer_partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.tercer_partido.puntos_ultimos_3_partidos_equipo_local }} | {{ quiniela.tercer_partido.puntos_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.tercer_partido.puntos_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.tercer_partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.tercer_partido.goles_en_contra_ultimos_3_partidos_equipo_local }} | {{ quiniela.tercer_partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.tercer_partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.tercer_partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.tercer_partido.goles_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.tercer_partido.goles_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.tercer_partido.goles_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.tercer_partido.goles_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.tercer_partido.puntos_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.tercer_partido.puntos_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.tercer_partido.puntos_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.tercer_partido.puntos_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.tercer_partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }} | {{ quiniela.tercer_partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
              <td class="td">{{ quiniela.tercer_partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}|{{ quiniela.tercer_partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
              <td class="td">{{quiniela.tercer_partido.winner}}</td>
            </tr>
            <tr>
              <td class="td"><img src="{{quiniela.cuarto_partido.logo_liga.url}}" width="50"></td>
              <td class="td">{{ quiniela.cuarto_partido.jornada }}</td>
              <td class="td"><img src="{{quiniela.cuarto_partido.escudo_local.url}}" width="50">{{ quiniela.cuarto_partido.equipo_local }}</td>
              <td class="td"><img src="{{quiniela.cuarto_partido.escudo_visitante.url}}" width="50">{{ quiniela.cuarto_partido.equipo_visitante }}</td>
              <td class="td">{{ quiniela.cuarto_partido.goles_ultimos_3_partidos_equipo_local }} | {{ quiniela.cuarto_partido.goles_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.cuarto_partido.goles_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.cuarto_partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.cuarto_partido.puntos_ultimos_3_partidos_equipo_local }} | {{ quiniela.cuarto_partido.puntos_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.cuarto_partido.puntos_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.cuarto_partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.cuarto_partido.goles_en_contra_ultimos_3_partidos_equipo_local }} | {{ quiniela.cuarto_partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.cuarto_partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.cuarto_partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.cuarto_partido.goles_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.cuarto_partido.goles_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.cuarto_partido.goles_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.cuarto_partido.goles_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.cuarto_partido.puntos_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.cuarto_partido.puntos_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.cuarto_partido.puntos_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.cuarto_partido.puntos_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.cuarto_partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }} | {{ quiniela.cuarto_partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
              <td class="td">{{ quiniela.cuarto_partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}|{{ quiniela.cuarto_partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
              <td class="td">{{quiniela.cuarto_partido.winner}}</td>
            </tr>
            <tr>
              <td class="td"><img src="{{quiniela.quinto_partido.logo_liga.url}}" width="50"></td>
              <td class="td">{{ quiniela.quinto_partido.jornada }}</td>
              <td class="td"><img src="{{quiniela.quinto_partido.escudo_local.url}}" width="50">{{ quiniela.quinto_partido.equipo_local }}</td>
              <td class="td"><img src="{{quiniela.quinto_partido.escudo_visitante.url}}" width="50">{{ quiniela.quinto_partido.equipo_visitante }}</td>
              <td class="td">{{ quiniela.quinto_partido.goles_ultimos_3_partidos_equipo_local }} | {{ quiniela.quinto_partido.goles_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.quinto_partido.goles_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.quinto_partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.quinto_partido.puntos_ultimos_3_partidos_equipo_local }} | {{ quiniela.quinto_partido.puntos_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.quinto_partido.puntos_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.quinto_partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.quinto_partido.goles_en_contra_ultimos_3_partidos_equipo_local }} | {{ quiniela.quinto_partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.quinto_partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.quinto_partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.quinto_partido.goles_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.quinto_partido.goles_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.quinto_partido.goles_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.quinto_partido.goles_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.quinto_partido.puntos_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.quinto_partido.puntos_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.quinto_partido.puntos_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.quinto_partido.puntos_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.quinto_partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }} | {{ quiniela.quinto_partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
              <td class="td">{{ quiniela.quinto_partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}|{{ quiniela.quinto_partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
              <td class="td">{{quiniela.quinto_partido.winner}}</td>
            </tr>
            <tr>
              <td class="td"><img src="{{quiniela.sexto_partido.logo_liga.url}}" width="50"></td>
              <td class="td">{{ quiniela.sexto_partido.jornada }}</td>
              <td class="td"><img src="{{quiniela.sexto_partido.escudo_local.url}}" width="50">{{ quiniela.sexto_partido.equipo_local }}</td>
              <td class="td"><img src="{{quiniela.sexto_partido.escudo_visitante.url}}" width="50">{{ quiniela.sexto_partido.equipo_visitante }}</td>
              <td class="td">{{ quiniela.sexto_partido.goles_ultimos_3_partidos_equipo_local }} | {{ quiniela.sexto_partido.goles_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.sexto_partido.goles_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.sexto_partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.sexto_partido.puntos_ultimos_3_partidos_equipo_local }} | {{ quiniela.sexto_partido.puntos_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.sexto_partido.puntos_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.sexto_partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.sexto_partido.goles_en_contra_ultimos_3_partidos_equipo_local }} | {{ quiniela.sexto_partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.sexto_partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.sexto_partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.sexto_partido.goles_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.sexto_partido.goles_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.sexto_partido.goles_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.sexto_partido.goles_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.sexto_partido.puntos_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.sexto_partido.puntos_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.sexto_partido.puntos_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.sexto_partido.puntos_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.sexto_partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }} | {{ quiniela.sexto_partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
              <td class="td">{{ quiniela.sexto_partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}|{{ quiniela.sexto_partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
              <td class="td">{{quiniela.sexto_partido.winner}}</td>
            </tr>
            <tr>
              <td class="td"><img src="{{quiniela.septimo_partido.logo_liga.url}}" width="50"></td>
              <td class="td">{{ quiniela.septimo_partido.jornada }}</td>
              <td class="td"><img src="{{quiniela.septimo_partido.escudo_local.url}}" width="50">{{ quiniela.septimo_partido.equipo_local }}</td>
              <td class="td"><img src="{{quiniela.septimo_partido.escudo_visitante.url}}" width="50">{{ quiniela.septimo_partido.equipo_visitante }}</td>
              <td class="td">{{ quiniela.septimo_partido.goles_ultimos_3_partidos_equipo_local }} | {{ quiniela.septimo_partido.goles_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.septimo_partido.goles_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.septimo_partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.septimo_partido.puntos_ultimos_3_partidos_equipo_local }} | {{ quiniela.septimo_partido.puntos_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.septimo_partido.puntos_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.septimo_partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.septimo_partido.goles_en_contra_ultimos_3_partidos_equipo_local }} | {{ quiniela.septimo_partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.septimo_partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.septimo_partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.septimo_partido.goles_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.septimo_partido.goles_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.septimo_partido.goles_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.septimo_partido.goles_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.septimo_partido.puntos_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.septimo_partido.puntos_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.septimo_partido.puntos_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.septimo_partido.puntos_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.septimo_partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }} | {{ quiniela.septimo_partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
              <td class="td">{{ quiniela.septimo_partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}|{{ quiniela.septimo_partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
              <td class="td">{{quiniela.septimo_partido.winner}}</td>
            </tr>
            <tr>
              <td class="td"><img src="{{quiniela.octavo_partido.logo_liga.url}}" width="50"></td>
              <td class="td">{{ quiniela.octavo_partido.jornada }}</td>
              <td class="td"><img src="{{quiniela.octavo_partido.escudo_local.url}}" width="50">{{ quiniela.octavo_partido.equipo_local }}</td>
              <td class="td"><img src="{{quiniela.octavo_partido.escudo_visitante.url}}" width="50">{{ quiniela.octavo_partido.equipo_visitante }}</td>
              <td class="td">{{ quiniela.octavo_partido.goles_ultimos_3_partidos_equipo_local }} | {{ quiniela.octavo_partido.goles_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.octavo_partido.goles_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.octavo_partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.octavo_partido.puntos_ultimos_3_partidos_equipo_local }} | {{ quiniela.octavo_partido.puntos_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.octavo_partido.puntos_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.octavo_partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.octavo_partido.goles_en_contra_ultimos_3_partidos_equipo_local }} | {{ quiniela.octavo_partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.octavo_partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.octavo_partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.octavo_partido.goles_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.octavo_partido.goles_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.octavo_partido.goles_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.octavo_partido.goles_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.octavo_partido.puntos_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.octavo_partido.puntos_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.octavo_partido.puntos_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.octavo_partido.puntos_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.octavo_partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }} | {{ quiniela.octavo_partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
              <td class="td">{{ quiniela.octavo_partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}|{{ quiniela.octavo_partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
              <td class="td">{{quiniela.octavo_partido.winner}}</td>
            </tr>
            <tr>
              <td class="td"><img src="{{quiniela.noveno_partido.logo_liga.url}}" width="50"></td>
              <td class="td">{{ quiniela.noveno_partido.jornada }}</td>
              <td class="td"><img src="{{quiniela.noveno_partido.escudo_local.url}}" width="50">{{ quiniela.noveno_partido.equipo_local }}</td>
              <td class="td"><img src="{{quiniela.noveno_partido.escudo_visitante.url}}" width="50">{{ quiniela.noveno_partido.equipo_visitante }}</td>
              <td class="td">{{ quiniela.noveno_partido.goles_ultimos_3_partidos_equipo_local }} | {{ quiniela.noveno_partido.goles_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.noveno_partido.goles_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.noveno_partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.noveno_partido.puntos_ultimos_3_partidos_equipo_local }} | {{ quiniela.noveno_partido.puntos_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.noveno_partido.puntos_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.noveno_partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.noveno_partido.goles_en_contra_ultimos_3_partidos_equipo_local }} | {{ quiniela.noveno_partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.noveno_partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.noveno_partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.noveno_partido.goles_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.noveno_partido.goles_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.noveno_partido.goles_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.noveno_partido.goles_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.noveno_partido.puntos_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.noveno_partido.puntos_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.noveno_partido.puntos_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.noveno_partido.puntos_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.noveno_partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }} | {{ quiniela.noveno_partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
              <td class="td">{{ quiniela.noveno_partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}|{{ quiniela.noveno_partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
              <td class="td">{{quiniela.noveno_partido.winner}}</td>
            </tr>
            <tr>
              <td class="td"><img src="{{quiniela.decimo_partido.logo_liga.url}}" width="50"></td>
              <td class="td">{{ quiniela.decimo_partido.jornada }}</td>
              <td class="td"><img src="{{quiniela.decimo_partido.escudo_local.url}}" width="50">{{ quiniela.decimo_partido.equipo_local }}</td>
              <td class="td"><img src="{{quiniela.decimo_partido.escudo_visitante.url}}" width="50">{{ quiniela.decimo_partido.equipo_visitante }}</td>
              <td class="td">{{ quiniela.decimo_partido.goles_ultimos_3_partidos_equipo_local }} | {{ quiniela.decimo_partido.goles_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.decimo_partido.goles_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.decimo_partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.decimo_partido.puntos_ultimos_3_partidos_equipo_local }} | {{ quiniela.decimo_partido.puntos_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.decimo_partido.puntos_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.decimo_partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.decimo_partido.goles_en_contra_ultimos_3_partidos_equipo_local }} | {{ quiniela.decimo_partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
              <td class="td">{{ quiniela.decimo_partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }} | {{ quiniela.decimo_partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
              <td class="td">{{ quiniela.decimo_partido.goles_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.decimo_partido.goles_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.decimo_partido.goles_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.decimo_partido.goles_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.decimo_partido.puntos_ultimos_3_partidos_local_siendo_local}} | {{ quiniela.decimo_partido.puntos_ultimos_5_partidos_local_siendo_local}}</td>
              <td class="td">{{ quiniela.decimo_partido.puntos_ultimos_3_partidos_visitante_siendo_visitante}} | {{ quiniela.decimo_partido.puntos_ultimos_5_partidos_visitante_siendo_visitante}}</td>
              <td class="td">{{ quiniela.decimo_partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }} | {{ quiniela.decimo_partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
              <td class="td">{{ quiniela.decimo_partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}|{{ quiniela.decimo_partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
              <td class="td">{{quiniela.decimo_partido.winner}}</td>
            </tr>
        </tbody>
      </table>
      {% if user.is_staff and num_quiniela == 0%}
      <button type="submit" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px;background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white; margin-left:380px;padding: 10px 15px;"><a href="{% url 'Crear_Quiniela' %}" style="color: aliceblue;">Crear Quiniela</a></button>
      {%endif%}
      {% if user.is_staff and num_quiniela != 0%}
      <button type="submit" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px;background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white; margin-left:380px;padding: 10px 15px;"><a href="{% url 'Crear_Quiniela' %}" style="color: aliceblue;">Crear Quiniela</a></button><button type="submit" class="btn btn-success" style="margin-bottom: 53px;background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white; margin-left:53px;padding: 10px 15px;"><a href="{% url 'Mostrar_Quinielas_Creadas' %}" style="color: aliceblue;">Mostrar Quinielas </a></button>
      {%endif%}
      {% if not user.is_staff and user.is_authenticated and num_esta_porra_hechas == 1 and num_porras_usuario >= 1%}
      <button type="submit" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px;background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white; margin-left:450px;padding: 10px 15px;"><a href="{% url 'Mostrar_Porras_Pasadas' %}" style="color: aliceblue;">Porras Realizadas</a></button>
      {%endif%}
      {% if not user.is_staff and user.is_authenticated and num_esta_porra_hechas == 0 and num_porras_usuario != 0%}
      <button type="submit" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px;background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white; margin-left:400px;padding: 10px 15px;"><a href="{% url 'Realizar_Porra' %}" style="color: aliceblue;">Realizar Porra</a></button><button type="submit" class="btn btn-success" style="margin-bottom: 20px;background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white; margin-left:25px;padding: 10px 15px;"><a href="{% url 'Mostrar_Porras_Pasadas' %}" style="color: aliceblue;">Porras Pasadas</a></button>
      {%endif%}
      {% if not user.is_staff and user.is_authenticated and num_esta_porra_hechas == 0 and num_porras_usuario == 0%}
      <button type="submit" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px;background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white; margin-left:400px;padding: 10px 15px;"><a href="{% url 'Realizar_Porra' %}" style="color: aliceblue;">Realizar Porra</a></button>
      {%endif%}

</div>
<div class="boPre">
  <p class="futplayful-2">
  FutPlayful Predictions no es una web para fomentar el uso de apuestas, sino más bien consienciar acerca uso
  de los juegos de azar y ejemplificando que el fútbol como deporte no es una ciencia exacta, en la que todo
  es posible. <br />
  <br />Si al utilizar nuestos datos decide aplicarlos en alguna apuesta o juego de azar recuerde jugar simpre
  con responsabilidad&nbsp;&nbsp;<br />y solo si eres mayor de edad
  </p>
  <img class="element" src="{% static 'Playful/img/18.png' %}" />
</div>
{% endblock %}  