{% extends "inicio/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<p class="quicre">Quinielas Creadas</p>
<div class="contenedorListaQuinielasUsuarios">
    <table class ="table">
        <thead>
          <tr>
            {% for porra in entity %}
            <th class="th">Username</th>
            <th class="th">Predicción Partido 1</th>
            <th class="th">Predicción Partido 2</th>
            <th class="th">Predicción Partido 3</th>
            <th class="th">Predicción Partido 4</th>
            <th class="th">Predicción Partido 5</th>
            <th class="th">Predicción Partido 6</th>
            <th class="th">Predicción Partido 7</th>
            <th class="th">Predicción Partido 8</th>
            <th class="th">Predicción Partido 9</th>
            <th class="th">Predicción Partido 10</th>
            {% if porra.quiniela.abierta is False%}
            <th class="th">Puntos</th>
            {%endif%}
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="tdd">{{ porra.usuario.username}}</td>
              <td class="tdd">{{porra.primer_partido }}</td>
              <td class="tdd">{{porra.segundo_partido }}</td>
              <td class="tdd">{{porra.tercer_partido }}</td>
              <td class="tdd">{{porra.cuarto_partido }}</td>
              <td class="tdd">{{porra.quinto_partido }}</td>
              <td class="tdd">{{porra.sexto_partido }}</td>
              <td class="tdd">{{porra.septimo_partido }}</td>
              <td class="tdd">{{porra.octavo_partido }}</td>
              <td class="tdd">{{porra.noveno_partido }}</td>
              <td class="tdd">{{porra.decimo_partido }}</td>
              {% if porra.quiniela.abierta is False%}
              <td class="tdd">{{porra.puntos }}</td>
              {%endif%}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if user.is_staff and abierta and  num_usuarios >= 2%}
      <button type="submit" class="btn btn-success" style="margin-top: 20px;margin-bottom: 53px;background-color: rgba(144, 3, 79, 1); border-radius: 10px; color: white; margin-left:380px;padding: 10px 15px;"><a href="{% url 'Cerrar_Porra' %}" style="color: aliceblue;">Cerrar Quiniela</a></button>
      {% endif %}
     
{% include 'predicciones/paginator.html' %}
      
</div>
<div class="boPU">
  <p class="futplayful-2">
  FutPlayful Predictions no es una web para fomentar el uso de apuestas, sino más bien consienciar acerca uso
  de los juegos de azar y ejemplificando que el fútbol como deporte no es una ciencia exacta, en la que todo
  es posible. <br />
  <br />Si al utilizar nuestos datos decide aplicarlos en alguna apuesta o juego de azar recuerde jugar simpre
  con responsabilidad&nbsp;&nbsp;<br />y solo si eres mayor de edad
  </p>
  <img class="element" src="{% static 'Playful/img/18.png' %}" />
</div>
{% endblock %}  
