{% extends "inicio/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<p class="pred">Predicciones</p>
<div class="contenedorListaPrediccionesFiltradas">
  <table class ="tableP">
    <thead>
      <tr>
        <th class="th">Liga</th>
        <th class="th">Jornada</th>
        <th class="th">Equipo Local</th>
        <th class="th">Equipo Visitante</th>
        <th class="thh">G3L</th>
        <th class="thh">G3V</th>
        <th class="thh">G5L</th>
        <th class="thh">G5V</th>
        <th class="thh">G3LL</th>
        <th class="thh">G3VV</th>
        <th class="thh">G5LL</th>
        <th class="thh">G5VV</th>
        <th class="thh">P3L</th>
        <th class="thh">P3V</th>
        <th class="thh">P5L</th>
        <th class="thh">P5V</th>
        <th class="thh">P3LL</th>
        <th class="thh">P3VV</th>
        <th class="thh">P5LL</th>
        <th class="thh">P5VV</th>
        <th class="thh">GC3L</th>
        <th class="thh">GC3V</th>
        <th class="thh">GC5L</th>
        <th class="thh">GC5V</th>
        <th class="thh">GC3LL</th>
        <th class="thh">GC3VV</th>
        <th class="thh">GC5LL</th>
        <th class="thh">GC5VV</th>
        <th class="thh">Ganador</th>
      </tr>
    </thead>
    <tbody>
      {% for partido in entity %}
        <tr>
          <td class="td"><img src="{{partido.logo_liga.url}}" width="50"></td>
          <td class="td">{{ partido.jornada }}</td>
          <td class="td"><a href="{% url 'Mostrar_Detalles' partido.id %}"style="color: black;"><img src="{{partido.escudo_local.url}}" width="50">{{ partido.equipo_local }}</a></td>
          <td class="td"><a href="{% url 'Mostrar_Detalles' partido.id %}"style="color: black;"><img src="{{partido.escudo_visitante.url}}" width="50">{{ partido.equipo_visitante }}</a></td>
          {%if partido.goles_ultimos_3_partidos_equipo_local > partido.goles_ultimos_3_partidos_equipo_visitante%}
          <td class="tdv">{{ partido.goles_ultimos_3_partidos_equipo_local }}</td>
          <td class="tdr">{{ partido.goles_ultimos_3_partidos_equipo_visitante }}</td>
          {%elif partido.goles_ultimos_3_partidos_equipo_local < partido.goles_ultimos_3_partidos_equipo_visitante%}
          <td class="tdr">{{ partido.goles_ultimos_3_partidos_equipo_local }}</td>
          <td class="tdv">{{ partido.goles_ultimos_3_partidos_equipo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.goles_ultimos_3_partidos_equipo_local }}</td>
          <td class="tdh">{{ partido.goles_ultimos_3_partidos_equipo_visitante }}</td>
          {%endif%}
          {%if partido.goles_ultimos_5_partidos_equipo_local > partido.goles_ultimos_5_partidos_equipo_visitante%}
          <td class="tdv">{{ partido.goles_ultimos_5_partidos_equipo_local }}</td>
          <td class="tdr">{{ partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
          {%elif partido.goles_ultimos_5_partidos_equipo_local < partido.goles_ultimos_5_partidos_equipo_visitante%}
          <td class="tdr">{{ partido.goles_ultimos_5_partidos_equipo_local }}</td>
          <td class="tdv">{{ partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.goles_ultimos_5_partidos_equipo_local }}</td>
          <td class="tdh">{{ partido.goles_ultimos_5_partidos_equipo_visitante }}</td>
          {%endif%}
          {%if partido.goles_ultimos_3_partidos_local_siendo_local > partido.goles_ultimos_3_partidos_visitante_siendo_visitante%}
          <td class="tdv">{{ partido.goles_ultimos_3_partidos_local_siendo_local }}</td>
          <td class="tdr">{{ partido.goles_ultimos_3_partidos_visitante_siendo_visitante }}</td>
          {%elif partido.goles_ultimos_3_partidos_local_siendo_local < partido.goles_ultimos_3_partidos_visitante_siendo_visitante%}
          <td class="tdr">{{ partido.goles_ultimos_3_partidos_local_siendo_local }}</td>
          <td class="tdv">{{ partido.goles_ultimos_3_partidos_visitante_siendo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.goles_ultimos_3_partidos_local_siendo_local }}</td>
          <td class="tdh">{{ partido.goles_ultimos_3_partidos_visitante_siendo_visitante }}</td>
          {%endif%}
          {%if partido.goles_ultimos_5_partidos_local_siendo_local > partido.goles_ultimos_5_partidos_visitante_siendo_visitante%}
          <td class="tdv">{{ partido.goles_ultimos_5_partidos_local_siendo_local }}</td>
          <td class="tdr">{{ partido.goles_ultimos_5_partidos_visitante_siendo_visitante }}</td>
          {%elif partido.goles_ultimos_5_partidos_local_siendo_local < partido.goles_ultimos_5_partidos_visitante_siendo_visitante%}
          <td class="tdr">{{ partido.goles_ultimos_5_partidos_local_siendo_local }}</td>
          <td class="tdv">{{ partido.goles_ultimos_5_partidos_visitante_siendo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.goles_ultimos_5_partidos_local_siendo_local }}</td>
          <td class="tdh">{{ partido.goles_ultimos_5_partidos_visitante_siendo_visitante }}</td>
          {%endif%}
          {%if partido.puntos_ultimos_3_partidos_equipo_local > partido.puntos_ultimos_3_partidos_equipo_visitante%}
          <td class="tdv">{{ partido.puntos_ultimos_3_partidos_equipo_local }}</td>
          <td class="tdr">{{ partido.puntos_ultimos_3_partidos_equipo_visitante }}</td>
          {%elif partido.puntos_ultimos_3_partidos_equipo_local < partido.puntos_ultimos_3_partidos_equipo_visitante%}
          <td class="tdr">{{ partido.puntos_ultimos_3_partidos_equipo_local }}</td>
          <td class="tdv">{{ partido.puntos_ultimos_3_partidos_equipo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.puntos_ultimos_3_partidos_equipo_local }}</td>
          <td class="tdh">{{ partido.puntos_ultimos_3_partidos_equipo_visitante }}</td>
          {%endif%}
          {%if partido.puntos_ultimos_5_partidos_equipo_local > partido.puntos_ultimos_5_partidos_equipo_visitante%}
          <td class="tdv">{{ partido.puntos_ultimos_5_partidos_equipo_local }}</td>
          <td class="tdr">{{ partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
          {%elif partido.puntos_ultimos_5_partidos_equipo_local < partido.puntos_ultimos_5_partidos_equipo_visitante%}
          <td class="tdr">{{ partido.puntos_ultimos_5_partidos_equipo_local }}</td>
          <td class="tdv">{{ partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.puntos_ultimos_5_partidos_equipo_local }}</td>
          <td class="tdh">{{ partido.puntos_ultimos_5_partidos_equipo_visitante }}</td>
          {%endif%}
          {%if partido.puntos_ultimos_3_partidos_local_siendo_local > partido.puntos_ultimos_3_partidos_visitante_siendo_visitante%}
          <td class="tdv">{{ partido.puntos_ultimos_3_partidos_local_siendo_local }}</td>
          <td class="tdr">{{ partido.puntos_ultimos_3_partidos_visitante_siendo_visitante }}</td>
          {%elif partido.puntos_ultimos_3_partidos_local_siendo_local < partido.puntos_ultimos_3_partidos_visitante_siendo_visitante%}
          <td class="tdr">{{ partido.puntos_ultimos_3_partidos_local_siendo_local }}</td>
          <td class="tdv">{{ partido.puntos_ultimos_3_partidos_visitante_siendo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.puntos_ultimos_3_partidos_local_siendo_local }}</td>
          <td class="tdh">{{ partido.puntos_ultimos_3_partidos_visitante_siendo_visitante }}</td>
          {%endif%}
          {%if partido.puntos_ultimos_5_partidos_local_siendo_local > partido.puntos_ultimos_5_partidos_visitante_siendo_visitante%}
          <td class="tdv">{{ partido.puntos_ultimos_5_partidos_local_siendo_local }}</td>
          <td class="tdr">{{ partido.puntos_ultimos_5_partidos_visitante_siendo_visitante }}</td>
          {%elif partido.puntos_ultimos_5_partidos_local_siendo_local < partido.puntos_ultimos_5_partidos_visitante_siendo_visitante%}
          <td class="tdr">{{ partido.puntos_ultimos_5_partidos_local_siendo_local }}</td>
          <td class="tdv">{{ partido.puntos_ultimos_5_partidos_visitante_siendo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.puntos_ultimos_5_partidos_local_siendo_local }}</td>
          <td class="tdh">{{ partido.puntos_ultimos_5_partidos_visitante_siendo_visitante }}</td>
          {%endif%}
          {%if partido.goles_en_contra_ultimos_3_partidos_equipo_local > partido.goles_en_contra_ultimos_3_partidos_equipo_visitante%}
          <td class="tdv">{{ partido.goles_en_contra_ultimos_3_partidos_equipo_local }}</td>
          <td class="tdr">{{ partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }}</td>
          {%elif partido.goles_en_contra_ultimos_3_partidos_equipo_local < partido.goles_en_contra_ultimos_3_partidos_equipo_visitante%}
          <td class="tdr">{{ partido.goles_en_contra_ultimos_3_partidos_equipo_local }}</td>
          <td class="tdv">{{ partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.goles_en_contra_ultimos_3_partidos_equipo_local }}</td>
          <td class="tdh">{{ partido.goles_en_contra_ultimos_3_partidos_equipo_visitante }}</td>
          {%endif%}
          {%if partido.goles_en_contra_ultimos_5_partidos_equipo_local > partido.goles_en_contra_ultimos_5_partidos_equipo_visitante%}
          <td class="tdv">{{ partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
          <td class="tdr">{{ partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
          {%elif partido.goles_en_contra_ultimos_5_partidos_equipo_local < partido.goles_en_contra_ultimos_5_partidos_equipo_visitante%}
          <td class="tdr">{{ partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
          <td class="tdv">{{ partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.goles_en_contra_ultimos_5_partidos_equipo_local }}</td>
          <td class="tdh">{{ partido.goles_en_contra_ultimos_5_partidos_equipo_visitante }}</td>
          {%endif%}
          {%if partido.goles_en_contra_ultimos_3_partidos_local_siendo_local > partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante%}
          <td class="tdv">{{ partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }}</td>
          <td class="tdr">{{ partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}</td>
          {%elif partido.goles_en_contra_ultimos_3_partidos_local_siendo_local < partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante%}
          <td class="tdr">{{ partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }}</td>
          <td class="tdv">{{ partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.goles_en_contra_ultimos_3_partidos_local_siendo_local }}</td>
          <td class="tdh">{{ partido.goles_en_contra_ultimos_3_partidos_visitante_siendo_visitante }}</td>
          {%endif%}
          {%if partido.goles_en_contra_ultimos_5_partidos_local_siendo_local > partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante%}
          <td class="tdv">{{ partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
          <td class="tdr">{{ partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
          {%elif partido.goles_en_contra_ultimos_5_partidos_local_siendo_local < partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante%}
          <td class="tdr">{{ partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
          <td class="tdv">{{ partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
          {%else%}
          <td class="tdh">{{ partido.goles_en_contra_ultimos_5_partidos_local_siendo_local }}</td>
          <td class="tdh">{{ partido.goles_en_contra_ultimos_5_partidos_visitante_siendo_visitante }}</td>
          {%endif%}
          <td class="tde">{{partido.winner}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
     
{% include 'predicciones/paginator.html' %}
      
</div>
<div class="boPro">
  <p class="futplayful-2">
  FutPlayful Predictions no es una web para fomentar el uso de apuestas, sino más bien consienciar acerca uso
  de los juegos de azar y ejemplificando que el fútbol como deporte no es una ciencia exacta, en la que todo
  es posible. <br />
  <br />Si al utilizar nuestos datos decide aplicarlos en alguna apuesta o juego de azar recuerde jugar simpre
  con responsabilidad&nbsp;&nbsp;<br />y solo si eres mayor de edad
  </p>
  <img class="element" src="{% static 'Playful/img/18.png' %}" />
</div>
{% endblock %}  