{% extends "inicio/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<p class="ran">Ranking</p>
<div class="overlap-groupRegister">
    <form action="buscar/" method="GET" style="margin-left: 850px;">
        <input type="text" name="usern">
        <button class="btn2 btn-success" style="background-color: rgba(26, 53, 199, 1);color: aliceblue;">Buscar usuario por username</button>
    </form>
    <div class="contenedorFormularioRanking">
        <table class="table">
            <thead>
                <tr>
                    <th class="th">Posición</th>
                    <th class="th">Username</th>
                    <th class="th">Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in entity %}
                <tr>
                    <td class="td">{{ entity.start_index|add:forloop.counter0 }}º</td>
                    <td class="td">{{ usuario.username }}</td>
                    <td class="td">{{ usuario.puntos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'Autenticacion/paginator.html' %}

    </div>
</div>
<div class="boIni">
    <p class="futplayful-2">
        FutPlayful Predictions no es una web para fomentar el uso de apuestas, sino más bien concienciar acerca del uso
        de los juegos de azar y ejemplificar que el fútbol como deporte no es una ciencia exacta, en la que todo
        es posible. <br />
        <br />Si al utilizar nuestros datos decides aplicarlos en alguna apuesta o juego de azar, recuerda jugar siempre
        con responsabilidad&nbsp;&nbsp;<br />y solo si eres mayor de edad
    </p>
    <img class="element" src="{% static 'Playful/img/18.png' %}" />
</div>
{% endblock %}