.pgina-de-inicio {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pgina-de-inicio .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.pgina-de-inicio .cart-button {
  position: absolute;
  width: 126px;
  height: 48px;
  top: 71px;
  left: 1160px;
  background-color: var(--azul);
  border-radius: 8px;
  overflow: hidden;
}

.pgina-de-inicio .text-wrapper {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 11px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.pgina-de-inicio .div-wrapper {
  left: 1305px;
  position: absolute;
  width: 126px;
  height: 48px;
  top: 71px;
  background-color: var(--azul);
  border-radius: 8px;
  overflow: hidden;
}

.pgina-de-inicio .text-wrapper-2 {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 31px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.pgina-de-inicio .logo {
  position: absolute;
  width: 467px;
  height: 113px;
  top: 17px;
  left: 476px;
  object-fit: cover;
}

.pgina-de-inicio .p {
  position: absolute;
  top: 287px;
  left: 441px;
  font-family: "Sora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 39px;
  text-align: center;
  letter-spacing: -0.78px;
  line-height: 46.8px;
  white-space: nowrap;
}

.pgina-de-inicio .overlap-group {
  position: absolute;
  width: 1205px;
  height: 428px;
  top: 394px;
  left: 163px;
}

.pgina-de-inicio .frame {
  width: 586px;
  height: 390px;
  top: 38px;
  left: 619px;
  position: absolute;
  background-color: #1935c6;
}

.pgina-de-inicio .futplayful {
  position: absolute;
  width: 365px;
  top: 63px;
  left: 121px;
  font-family: "Sora-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 24px;
}

.pgina-de-inicio .image {
  position: absolute;
  width: 655px;
  height: 386px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.pgina-de-inicio .frame-2 {
  width: 1440px;
  height: 157px;
  top: 867px;
  left: 0;
  position: absolute;
  background-color: var(--azul);
}

.pgina-de-inicio .futplayful-2 {
  position: absolute;
  width: 819px;
  height: 101px;
  top: 31px;
  left: 332px;
  font-family: "Sora-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.8px;
  line-height: 19.2px;
}

.pgina-de-inicio .element {
  position: absolute;
  width: 54px;
  height: 50px;
  top: 107px;
  left: 1246px;
  object-fit: cover;
}

.pgina-de-inicio .frame-3 {
  width: 1431px;
  height: 133px;
  top: 130px;
  left: 0;
  position: absolute;
  background-color: var(--azul);
}

.pgina-de-inicio .text-wrapper-3 {
  position: absolute;
  width: 287px;
  top: 55px;
  left: 79px;
  font-family: "Sora-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 21.6px;
}

.pgina-de-inicio .text-wrapper-4 {
  left: 582px;
  position: absolute;
  width: 287px;
  top: 52px;
  font-family: "Sora-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 21.6px;
}

.pgina-de-inicio .text-wrapper-5 {
  left: 1144px;
  position: absolute;
  width: 287px;
  top: 52px;
  font-family: "Sora-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 21.6px;
}

.pgina-de-inicio .cart-button-2 {
  left: 145px;
  position: absolute;
  width: 126px;
  height: 48px;
  top: 71px;
  background-color: var(--azul);
  border-radius: 8px;
  overflow: hidden;
}

.pgina-de-inicio .text-wrapper-6 {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 32px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}
