:root {
    --prueba: rgba(0, 0, 0, 1);
    --azul: rgba(26, 53, 199, 1);
    --blaugrana: rgba(144, 3, 79, 1);
    --prueba-font-family: "Sora", Helvetica;
    --prueba-font-weight: 400;
    --prueba-font-size: 16px;
    --prueba-letter-spacing: 0px;
    --prueba-line-height: normal;
    --prueba-font-style: normal;
    }